$title: 48px;
$subTitle: 36px;
$text: 24px;
$btnTxt: 32px;
$mobile_title: 36px;
$mobile_subTitle: 28px;
$mobile_text: 20px;
$mobile_btnTxt: 24px;
$btnColor: #30ffff;
$btnSize: 32px;
$mobile_btnSize: 24px;
